body {
  background: #15202b;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex: 1;
  margin-top: 20%;
  height: 240px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 240px;
  background: #1da1f2;
  border: 0;
  margin-top: 20px;
  padding: 15px 30px;
  text-align: center;
}

.tweetText {
  flex: 4;
  font-size: 20px;
  text-align: center;
}

.tweetIcon {
  flex: 1;
  font-size: 1;
}

button:hover {
  filter: brightness(1.2);
  transition: ease .5s;
  color: #fff;
  border: 0;
  padding: 15px 30px;
  background: #1da1f2;
}

input {
  flex: 2;
  padding: 15px 10px;
  font-size: 16px;
  width: 360px;
}

label {
  flex: 1;
  font-size: 18px;
  color: #fff;
  margin: 8px 5px;
}

.publishedTweet {
  display: flex;
  padding: 10px 20px;
  width: 720px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 140px;
  text-align: center;
  margin: -8% 28%;
  border: 1px solid #000;
  border-color: #fff;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 720px;
}

.city {
  display: flex;
  flex: 2;
  width: 420px;
  margin-right: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.cityFlag {
  flex: 1;
  margin-left: 15px;
  font-size: 50px;
}

.userInfo {
  display: flex;
  flex: .9;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.userName {
  flex: 1;
  font-size: 18px;
}

.userScreenName {
  flex: .2;
  color: #eee;
  font-size: 16px;
}

.userPhoto {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.content {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tweet {
  margin-top: 15px;
  display: flex;
  flex: 2;
  color: #fff;
  font-size: 22px;
}

.tweetPlaceholder {
  color: #ccc;
}

.tweetDate {
  display: flex;
  flex: 1;
  color: #1da1f2;
  font-size: 16px;
}

a {
  flex: 1;
  font-size: 18px;
}

.login {
  display: flex;
  margin-top: 5px;
  flex: 1;
  align-self: flex-start;
  width: 120px;
}
